# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Scott Barr
	email = gsbarr@gmail.com
[push]
	default = simple
[alias]
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
